<h1>Login Page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button type="submit">Login</button>
</form>

<button><a href="/register">Sign Up!</a></button>

<button><a href="/login">login</a></button>

<button><a href="/logout">Logout</a></button>